---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import { getCollection } from "astro:content";

const aeroProjects = (await getCollection("aerospace-projects")).sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));

const last_aero_posts = aeroProjects.slice(0, 3);

const csProjects = (await getCollection("cs-projects")).sort((a, b) => Date.parse(b.data.pubDate) - Date.parse(a.data.pubDate));

const last_cs_posts = csProjects.slice(0, 3);
---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-5xl py-3 font-bold">Hi! I'm Daniel Tohti</div>
    <div class="text-3xl font-bold"></div>
    <div class="py-2">
      <text class="text-lg">
        <p>I have spent the last several years at the University of Virginia honing my technical skills in 
        Aerospace Engineering and Computer Science including CAD, FEA, CFD, Programming, and Machine Learning. 
        Currently, I am working towards my Master of Engineering degree in Mechanical & Aerospace Engineering at UVA.</p><br>
      </text>
      <text class="text-lg">
        <p>Looking ahead, my ultimate goal is to become an astronaut and lead the way in human space exploration endeavors 
        fueled by my passion of rocketry. Outside of classes and work, you can find me cooking Uyghur cuisine, cruising on my skateboard, 
        or lifting at the gym.</p><br>
      </text>
      <text class="text-lg">
        <p>Before I dive into my projects, I wanted to give a huge "Thank You" to my parents. Immigrating
        as Uyghurs from China, they have worked incredibly hard to build a comfortable life for me and my siblings. 
        Without them, I would not be where I am at today. </p>
      </text>

    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">Latest Aerospace Engineering Projects</div>
  </div>

  {
    last_aero_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/aerospace-projects/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }

  <div>
    <div class="text-3xl w-full font-bold mb-5 mt-10">Latest Software/Hardware Projects</div>
  </div>

  {
    last_cs_posts.map((post) => (
      <>
        <HorizontalCard
          title={post.data.title}
          img={post.data.heroImage}
          desc={post.data.description}
          url={"/cs-projects/" + post.slug}
          target="_self"
          badge={post.data.badge}
        />
        <div class="divider my-0" />
      </>
    ))
  }
</BaseLayout>
